<h1>タグを貼り付けて動画を検索</h1>
<p>ユーザー登録をするとタグの履歴を保存できます</p>
<div class="search_form">
  <%= render 'search_form' %>
</div>
<p><%= @keyword %>の検索結果</p><small>表示件数:<%= @number %>件</small>
<div class="search_results">
  <%= render 'search_results' %>
</div>
