// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.search_results {
  width: 900px;
}

iframe.iframe-left {
  float: left;
  padding: 2px;
}
